<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Terrains</title>
</head>
<body>
<div class="container">

    <div class="row mt-2">
        <div class="col-12">
            <div class="card bg-info text-white">
                <div class="card-header">
                    <h1>Campus Sportif ESSAT  <font size="5pt"> (Espace Administrateur) </font></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">    
            <div class="alert alert-warning">
                Bienvenue Mr <b>Med Kilani</b><a href="#" >(Déconnexion)</a>        
            </div>            
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <div class="col-3">
            <div class="list-group">
                <a routerLink="/terrain" class="list-group-item list-group-item-action active">
                    <span class="fa fa-th-large"></span> Gestion des Terrains
                </a>
                <a routerLink="/adherants" class="list-group-item list-group-item-action">
                    <span class="fa fa-th-large"></span> Gestion des Adhérants
                </a>
                <a routerLink="/reservations" class="list-group-item list-group-item-action">
                    <span class="fa fa-th-large"></span> Gestion des Réservations
                </a>
                              
            </div>
        </div>

        <div class="col-9">
            <div class="card text-white">
                <div class="card-header bg-success"> <h5>Liste des Terrains </h5></div>
                <div *ngIf="loading" class="text-center">Loading...</div> <!-- Show loading state -->
                <div *ngIf="error" class="alert alert-danger">{{ error }}</div> <!-- Show error message -->

                <table class="table table-hover" *ngIf="!loading && terrains.length > 0">
                    <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Titre Terrain</th>
                            <th>Surface</th>
                            <th>Actions</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let terrain of terrains">
                            <td>{{ terrain.id }}</td>
                            <td>{{ terrain.nom }}</td>
                            <td>{{ terrain.surface }}</td>
                            <td><a href="" class="btn btn-danger">DELETE</a> </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="terrains.length === 0 && !loading">
                    No terrains available.
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
